{% extends 'base.html.twig' %}

{% block title %}Личность «{{ personality.title }}»{% endblock %}

{% block body %}

    <img src="../img/{{ personality.slidename|default('undefined')  }}">


        <h1 class="title">
            Личность «{{ personality.title }}»
        </h1>

        <h2 class="code">
            {{ personality.code }}
        </h2>

        <div class="content">
            {{ personality.content|raw }}
        </div>

{% endblock %}
