{% extends 'base.html.twig' %}

{% block title %}16Personalities{% endblock %}

{% block body %}

    <div class="welcome-top">

        {#{{ form_start(form) }}#}
        {#{{ form_widget(form) }}#}

        {#<button class="btn btn-action-2">{{ button_label|default('Save') }}</button>#}
        {#<div class="clear"></div>#}
        {#{{ form_end(form) }}#}

        {{ form_row(form.comments) }}

     </div>

{% endblock %}
